<select (change)="onComparisonChange($event.target.value)">
  <option value="allBeers">All Beers</option>
  <option value="lessThanIbu">Less Than IBU</option>
  <option value="greaterThanIbu">Greater Than IBU</option>
</select>
<label>IBU Input</label>
<input (change)="onIBUChange($event.target.value)" #ibuInput>

<ul class="keg-list">
  <li class="keg" *ngFor="let keg of kegList | ibu:filterIbu">
    <div class="kegInfo">
      <p class="name">{{keg.name}}</p>
      <p class="brand">{{keg.brand}}</p>
      <p class="price">Keg Price ${{keg.price}}</p>
      <p class="pintPrice">Pint Price ${{keg.pintPrice}}</p>
      <p class="alcoholContent">Alcohol {{keg.alcoholContent}}%</p>
      <p class="ibu">IBU {{keg.ibu}}</p>
      <p class="pintsLeft">Pints Remaining {{keg.pintsLeft}}</p>
    </div>
    <div>
      <button class="pourButton" (click)="pourPint(keg)">Pour</button>
    </div>
  </li>
</ul>
